{
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 80,
  "tabWidth": 2,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^\\$env/(.*)$",
    "",
    "<TYPES>",
    "<TYPES>^[.]",
    "",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/(lib|utils|hooks)(/.*)?$",
    "",
    "^@/layouts/(.*)$",
    "",
    "^@/components/(.*)$",
    "",
    "^@/(.*)$",
    "",
    "^(?!.*\\.(css|scss|svg|png|jpe?g|gif)$)[./]",
    ".*\\.(css|scss)$",
    ".*\\.(svg|png|jpe?g|gif)$"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "tailwindFunctions": ["clsx", "cn"],
  "tailwindStylesheet": "resources/css/app.css",
  "overrides": [
    {
      "files": "*.svelte",
      "options": { "parser": "svelte" }
    }
  ]
}
